<header class="masthead">
  <div class="language-nav">
  <ul>
    <li><a href="#"><strong>CSS</strong></a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>
  </div>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="">
    <ul class="masthead-links">
      <li><button type="button" name="button">Tuesday, October 18, 2016</button></li>
      <li><i class="fa fa-newspaper-o" aria-hidden="true"></i>
<a href="#">Today’s Paper</a></li>
      <li><i class="fa fa-video-camera" aria-hidden="true"></i>
<a href="#">Video</a></li>
      <li><button type="button" name="button">77°F</button></li>
      <li><button type="button" name="button">AAO <span style="color:green">+100%</span></button></li>
    </ul>
</header>
