<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./styles/main.css" > -->
    <!-- <script src="./bundle.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="content"></div>
    <!-- <%#= yield %> -->
  </body>
</html>
