New User
Goals
<form class="" action="<%= users_url %>" method="post">


<label>Username
  <input type="text" name="user[username]" value="">
</label>

<label>Password
  <input type="text" name="user[password]" value="">
</label>

<input type="submit" name="" value="Create User">

</form>
