div {
  font-family: 'Montserrat', sans-serif;

}

.flex-div {
  display: flex;
  /*min-height: 50px;*/
  width: 400px;
  font-size: 20px;
}

.clock-div {
  justify-content: space-between;
  align-items: center;
  background-color: #ffdd96;
}

.tabs-div {
  margin-top: 30px;
  background-color: #C5D0E6;
  display: block;
  height: 225px;
}

.tab-titles-div {
  width: 300px;
  background-color: lightgreen;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  border: 1px solid black;
}

.tab-titles-div h1 {
  padding: 0 25px;
  border-right: 1px black solid;
}

.tab-titles-div h1:last-of-type {
  border-right: 0;
}

.flex-list {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 150px;
  background-color: lightgreen;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  border: 1px solid black;
  border-top: 0;
}

.flex-list div {
  width: 33%;
}


.center-header {
  text-align: center;
}

.tab-header {
  width: 100%;
  border: 3px solid black;
}



















// 