<h1>Create New Post</h1>

<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title:
    <input type="text" name="post[title]" value="">
  </label>
  <br>
  <label>URL:
    <input type="text" name="post[url]" value="">
  </label>
  <br>

  <label>Content:
    <textarea name="post[content]" rows="4" cols="40"></textarea>
  </label>
  <br>

  <% Sub.all.each do |subbing| %>
  <ul>
    <li>
      <label>
        <input type="checkbox" name="post[sub_ids][]" value="<%= subbing.id %>"><%= subbing.title %>
      </label>
    </li>
  </ul>
  <% end %>
  <input type="submit" name="" value="Create New Post">
</form>
